.idea/
__pycache__/
venv2/

outputs

/data/*
!/data/not_notMNIST
/data/not_notMNIST/*
!/data/not_notMNIST/bit_mapper.py
!/data/not_notMNIST/pickle_merger.py

/alifebook_lib/*
!/alifebook_lib/visualizers
/alifebook_lib/visualizers/*
!/alifebook_lib/visualizers/matrix_visualizer.py


